@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: 0;
}

#yal-wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 12px;
}

::-webkit-scrollbar {
        width: 0;
        height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  /* background: hsl(183, 97%, 27%); */
  background: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  /* background: #1B2C3F; */
  background: transparent;
}


body.animate-all * {
  transition: all 1s ease-in;
}

html {
  overflow: hidden;
  height: 100%;
}
